<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <body>
    <h1>Add Product!</h1>
    <form action="addProduct" method="post">
        <label class="pad_top" color = "red" >Product Code:</label>
        <input type="text" name="productCode" value= ""><br>
        <label class="pad_top" color = "red" >Product Description</label>
        <input type="text" name="productDescription" value=""><br>
        <label class="pad_top" color = "red" >Product Price</label>
        <input type="text" name="productPrice" value= ""><br>

        <label>&nbsp;</label>
        <input type="submit" value="Update Product" class="margin_left">
    </form>

    <a href="/cart">View All Product</a>
    </body>
</html>